# Ignore platform specific folders from GitHub language statistics
web/** linguist-generated
ios/** linguist-generated
android/** linguist-generated
linux/** linguist-generated
macos/** linguist-generated
windows/** linguist-generated
